name: build
on: push
jobs:
  main:
    strategy:
      matrix:
        node:
          - 20
          - 22
          - "lts/*"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with:
          node-version: "${{ matrix.node }}"
          cache: npm
          registry-url: https://registry.npmjs.org
      - run: npm ci
      - run: npm run build
      - name: The working tree is clean.
        run: "[[ -z $(git status --porcelain) ]]"
      - name: Show the working tree status.
        if: failure()
        run: |
          git status
          git diff
