name: release
on:
  push:
    branches: ["master"]
jobs:
  main:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: "lts/*"
          cache: npm
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - name: Git configuration.
        run: |
          git config --global user.name release[bot]
          git config --global user.email chirimen-oh@users.noreply.github.com
      - name: Publish
        run: |
          npm version patch
          git push --atomic --tags origin HEAD
          npm publish
